/* ベース */
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background: #f9f9f9;
  color: #333;
  scroll-behavior: smooth;
}

/* ヘッダー */
header {
    max-width: 100%;
    background: #2c3e50;
	color: white;
	margin: 0 auto;
    padding: 0;
	text-align: center;
    position: sticky;
    top: 0;
	z-index: 100;
}

header h1 {
	margin: 0;
    margin-left: 10px;
	padding: 0;
    font-size: 2.5rem;
}

header p {
	margin: 0;
	margin-left: 10px;
	padding: 0;
	font-size: 1.2rem;
	color: white;
}

header div {
    text-align: left;
    max-width: 900px;
    margin: auto;
}

/* 固定ナビゲーション */
.top-nav {
    max-width: 100%;
	margin: 0rem auto;
	margin-top:1rem;
	background: white;
    border-bottom: 3px solid #ccc;
}

header ul {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 0.3rem;
}

header a {
	padding:0.2rem 0.2rem;
    text-decoration: none;
	font-weight: bold;
}

header li {
	margin 0.2rem 0;
	padding:0 0.5rem;	
}
header a:hover {
	color: white;
	background: #2c3e50;
}

a {
    text-decoration: none;
    color: #2c3e50;

    text-decoration: underline;
}

a:hover {
	color:black;
}

/* 本文 */
main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
}

main h2 {
	border-bottom: 2px solid #2c3e50;
	font-weight:bold;
  padding-bottom: 0.3rem;
  margin-top: 1rem;
}

main h3 {
	font-weight:bold;
  margin-bottom: -0.5rem;
  margin-top: 1rem;
}

/* フッター */
footer {
  text-align: center;
  padding: 1rem;
  background: #eee;
  font-size: 0.9rem;
  margin-top: 2rem;
}

/* アンカー位置調整用 */
section {
  scroll-margin-top: 200px; 
}

@media (max-width: 800px) {
	header h1{
		font-size: 2rem;
	}
	header p{
		font-size: 1rem;
	}
  	header ul {
    font-size: 1.4rem; 
	}
	section {
  scroll-margin-top: 200px; 
}
}
