/* ベース */
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background: #f9f9f9;
  color: #333;
  scroll-behavior: smooth;
}

/* ヘッダー */
header {
    max-width: 100%;
    background: #2c3e50;
	color: white;
    padding: 0;
    position: sticky;
    top: 0;
	z-index: 100;
}

header h1 {
	margin: 0;
    margin-left: 10px;
	padding: 0;
    font-size: 2.5rem;
}

header p {
	margin: 0;
	margin-left: 10px;
	padding: 0;
	font-size: 1rem;
	color: white;
}

header div {
	    text-align: left;
	max-width: 900px;
	    margin: 0 auto;
}

/* 固定ナビゲーション */
.title {
    padding: 0.5rem 0;
}

.top-nav {
	text-align: left;
    max-width: 100%;
	margin-top:1rem;
	background: white;
    border-bottom: 3px solid #ccc;
}

header ul {
	    text-align: left;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
	margin: 0 0.3rem;
	padding:0;
}

header a {
	padding:0.2rem 0.8rem;
    text-decoration: none;
	font-weight: bold;
}

header li {
	margin 0.2rem 0;
	padding:0 0rem;
}
header a:hover {
	color: white;
	background: #2c3e50;
}

a {
    text-decoration: none;
    color: #2c3e50;
    text-decoration: underline;
}

a:hover {
	color:black;
}

/* 本文 */
main {
  max-width: 900px;
  margin: 0rem auto;
  padding: 0 1rem;
}

main h2 {
	border-bottom: 2px solid #2c3e50;
	font-weight:bold;
	margin-left:10px;
	margin-top: 1.2rem;
	margin-bottom:-0.5rem;

}

main h3 {
	font-weight:bold;
		margin-left:10px;
  margin-bottom: -0.7rem;
}

main li {
	padding: 0.1rem 0;
}

main p {
	margin-left: 10px;
}

.award {
	color: red;
	font-weight:bold;
}

.float-image {
  float: right;
  width: 300px;
	margin-top: 30px;
	  margin-left: 30px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

/* フッター */
footer {
  text-align: center;
  padding: 1rem;
  background: #eee;
  font-size: 0.9rem;
  margin-top: 2rem;
}

/* アンカー位置調整用 */
section {
  scroll-margin-top: 220px; 
}

@media (max-width: 900px) {
	main {
		font-size: 0.8rem;
  max-width: 900px;
  margin: 0rem auto;
  padding: 0 1rem;
	}

	header h1{
		margin: 0;
    margin-top: 12px;
    margin-left: 10px;
	padding: 0;
		font-size: 1.5rem;
	}
	header p{
	margin: 0;
	margin-left: 10px;
	padding: 0;
	font-size: 0.8rem;
	color: white;
	}
  	header ul {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
	}
	
	header li {
	margin: 0;
	padding:0;	
	}
	header a {
	padding:0.2rem 0.4rem;
    text-decoration: none;
	font-weight: bold;
}
	main{
		margin-left: 0;
		padding-left: 0;		
	}
	section {
  scroll-margin-top: 190px; 
	}
	.float-image {
  float: right;
  width: 150px;
}
